USE [master]
GO
/****** Object:  Database [SklepZajecia2]    Script Date: 09.02.2021 15:56:19 ******/
CREATE DATABASE [SklepZajecia2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SklepZajecia2', FILENAME = N'C:\Users\Luk\SklepZajecia2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SklepZajecia2_log', FILENAME = N'C:\Users\Luk\SklepZajecia2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SklepZajecia2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SklepZajecia2]
GO
USE [SklepZajecia2]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 09.02.2021 15:56:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Aktualnoscs]    Script Date: 09.02.2021 15:56:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Aktualnoscs](
	[IdAktualnosc] [int] IDENTITY(1,1) NOT NULL,
	[Tytul] [nvarchar](30) NOT NULL,
	[TrescAktualnosci] [nvarchar](max) NULL,
	[PozycjeWyswietlania] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Aktualnoscs] PRIMARY KEY CLUSTERED 
(
	[IdAktualnosc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 09.02.2021 15:56:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 09.02.2021 15:56:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 09.02.2021 15:56:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 09.02.2021 15:56:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 09.02.2021 15:56:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Handlowiecs]    Script Date: 09.02.2021 15:56:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Handlowiecs](
	[IdHandlowca] [int] IDENTITY(1,1) NOT NULL,
	[Imie] [nvarchar](max) NOT NULL,
	[Nazwisko] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[UserId] [nvarchar](max) NULL,
	[HandlowiecVip] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Handlowiecs] PRIMARY KEY CLUSTERED 
(
	[IdHandlowca] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ogloszenies]    Script Date: 09.02.2021 15:56:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ogloszenies](
	[IdOgloszenia] [int] IDENTITY(1,1) NOT NULL,
	[Tytul] [nvarchar](30) NOT NULL,
	[TrescOgloszenia] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Ogloszenies] PRIMARY KEY CLUSTERED 
(
	[IdOgloszenia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pozycjas]    Script Date: 09.02.2021 15:56:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pozycjas](
	[IdPozycja] [int] IDENTITY(1,1) NOT NULL,
	[Nazwa] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Pozycjas] PRIMARY KEY CLUSTERED 
(
	[IdPozycja] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Towars]    Script Date: 09.02.2021 15:56:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Towars](
	[IdTowar] [int] IDENTITY(1,1) NOT NULL,
	[Nazwa] [nvarchar](max) NOT NULL,
	[Opis] [nvarchar](max) NOT NULL,
	[Cena] [decimal](18, 2) NOT NULL,
	[VipTowar] [bit] NOT NULL,
	[TowarPromocyjny] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Towars] PRIMARY KEY CLUSTERED 
(
	[IdTowar] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TowarStans]    Script Date: 09.02.2021 15:56:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TowarStans](
	[IdStanMagazynowy] [int] IDENTITY(1,1) NOT NULL,
	[Stan] [int] NOT NULL,
	[DataDodania] [datetime] NOT NULL,
	[IdTowar] [int] NOT NULL,
 CONSTRAINT [PK_dbo.TowarStans] PRIMARY KEY CLUSTERED 
(
	[IdStanMagazynowy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TowarZdjecias]    Script Date: 09.02.2021 15:56:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TowarZdjecias](
	[IdTowarZdjecie] [int] IDENTITY(1,1) NOT NULL,
	[Url] [nvarchar](max) NULL,
	[IdTowar] [int] NOT NULL,
 CONSTRAINT [PK_dbo.TowarZdjecias] PRIMARY KEY CLUSTERED 
(
	[IdTowarZdjecie] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ZamowieniePozycjas]    Script Date: 09.02.2021 15:56:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ZamowieniePozycjas](
	[IdZamowieniePozycja] [int] IDENTITY(1,1) NOT NULL,
	[IdTowar] [int] NOT NULL,
	[Ilosc] [int] NOT NULL,
	[Cena] [decimal](18, 2) NOT NULL,
	[Wartosc] [decimal](18, 2) NOT NULL,
	[IdZamowienie] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ZamowieniePozycjas] PRIMARY KEY CLUSTERED 
(
	[IdZamowieniePozycja] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Zamowienies]    Script Date: 09.02.2021 15:56:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Zamowienies](
	[IdZamowienie] [int] IDENTITY(1,1) NOT NULL,
	[Idhandlowiec] [int] NOT NULL,
	[Imie] [nvarchar](max) NOT NULL,
	[Nazwisko] [nvarchar](max) NOT NULL,
	[Adres] [nvarchar](max) NOT NULL,
	[Telefon] [nvarchar](max) NOT NULL,
	[AdresEmail] [nvarchar](max) NOT NULL,
	[DataZamowienia] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Zamowienies] PRIMARY KEY CLUSTERED 
(
	[IdZamowienie] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Aktualnoscs] ON 

INSERT [dbo].[Aktualnoscs] ([IdAktualnosc], [Tytul], [TrescAktualnosci], [PozycjeWyswietlania]) VALUES (1, N'Marek Grechuta', N'sdfgdfgdfg dfgdgdd', 1)
INSERT [dbo].[Aktualnoscs] ([IdAktualnosc], [Tytul], [TrescAktualnosci], [PozycjeWyswietlania]) VALUES (2, N'Kucyk', N'sf sdfsd fgdfgdfg dfgdgdd', 3)
INSERT [dbo].[Aktualnoscs] ([IdAktualnosc], [Tytul], [TrescAktualnosci], [PozycjeWyswietlania]) VALUES (3, N'Kartofel', N's a sdas  121 2 dfgdfgdfg dfgdgdd', 4)
SET IDENTITY_INSERT [dbo].[Aktualnoscs] OFF
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'5b6b7724-d0d4-44ce-806a-94918d6e16c8', N'Admin')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'4ae61a2f-a719-4a4c-8efc-62bd58caf1d7', N'Handlowiec')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'd6171caf-6e8c-40af-b225-658803ddaba9', N'4ae61a2f-a719-4a4c-8efc-62bd58caf1d7')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'1e686b2c-3067-4882-9113-8c0090c170aa', N'5b6b7724-d0d4-44ce-806a-94918d6e16c8')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'83b89baf-7e39-4c0e-bd6a-d0e88b03d948', N'5b6b7724-d0d4-44ce-806a-94918d6e16c8')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'1e686b2c-3067-4882-9113-8c0090c170aa', N'admin@op.pl', 1, N'APo6Gng+a8NgFAIC5ygxgCalyl7olN2lv3A10ph5w3llfHvGlLzEyZKvPnMryF35Eg==', N'32a9cbbf-68f9-48ae-b3cc-1158ea56b968', NULL, 0, 0, NULL, 0, 0, N'admin@op.pl')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'83b89baf-7e39-4c0e-bd6a-d0e88b03d948', N'sdfjsdfk@interia.pl', 0, N'AF6QypsHeWQ7JmGqk5mrZqTLCqMJr1hWxe+pWafjGU/GoK7ALHHukYkHibifPHZ6vw==', N'880f01de-8b64-400e-bc70-00d0b3fdf592', NULL, 0, 0, NULL, 1, 0, N'sdfjsdfk@interia.pl')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'd6171caf-6e8c-40af-b225-658803ddaba9', N'spiderking@interia.pl', 0, N'ACHxh3bHbJsmZbvckruaajn148Bib1DjOsYpYXqj+IlER9yBGhuM5zZpuPYcaKttVA==', N'c568897d-cc17-410f-9b4e-cca2690711c8', NULL, 0, 0, NULL, 1, 0, N'spiderking@interia.pl')
SET IDENTITY_INSERT [dbo].[Handlowiecs] ON 

INSERT [dbo].[Handlowiecs] ([IdHandlowca], [Imie], [Nazwisko], [Email], [UserId], [HandlowiecVip]) VALUES (1, N'Admin', N'NazwiskoAdmin', N'admin@op.pl', N'1e686b2c-3067-4882-9113-8c0090c170aa', 0)
INSERT [dbo].[Handlowiecs] ([IdHandlowca], [Imie], [Nazwisko], [Email], [UserId], [HandlowiecVip]) VALUES (2, N'Marek', N'Wojtek', N'spiderking@interia.pl', N'd6171caf-6e8c-40af-b225-658803ddaba9', 0)
INSERT [dbo].[Handlowiecs] ([IdHandlowca], [Imie], [Nazwisko], [Email], [UserId], [HandlowiecVip]) VALUES (3, N'sdfgdg', N'dfgdfg', N'sdfjsdfk@interia.pl', N'83b89baf-7e39-4c0e-bd6a-d0e88b03d948', 0)
SET IDENTITY_INSERT [dbo].[Handlowiecs] OFF
SET IDENTITY_INSERT [dbo].[Ogloszenies] ON 

INSERT [dbo].[Ogloszenies] ([IdOgloszenia], [Tytul], [TrescOgloszenia]) VALUES (1, N'Sprzedam czarny traktor', N'nieaktualne')
INSERT [dbo].[Ogloszenies] ([IdOgloszenia], [Tytul], [TrescOgloszenia]) VALUES (2, N'Wynajme ogrodzenie', N'bardzo drogi sprzet')
INSERT [dbo].[Ogloszenies] ([IdOgloszenia], [Tytul], [TrescOgloszenia]) VALUES (3, N'Oglaszam sie prezydentem', N'i premierem')
SET IDENTITY_INSERT [dbo].[Ogloszenies] OFF
SET IDENTITY_INSERT [dbo].[Pozycjas] ON 

INSERT [dbo].[Pozycjas] ([IdPozycja], [Nazwa]) VALUES (1, N'Mniejsza')
INSERT [dbo].[Pozycjas] ([IdPozycja], [Nazwa]) VALUES (2, N'Wieksza')
SET IDENTITY_INSERT [dbo].[Pozycjas] OFF
SET IDENTITY_INSERT [dbo].[Towars] ON 

INSERT [dbo].[Towars] ([IdTowar], [Nazwa], [Opis], [Cena], [VipTowar], [TowarPromocyjny]) VALUES (1, N'Buty', N'schodzone', CAST(134.00 AS Decimal(18, 2)), 0, 1)
INSERT [dbo].[Towars] ([IdTowar], [Nazwa], [Opis], [Cena], [VipTowar], [TowarPromocyjny]) VALUES (2, N'Rekawiczki', N'skora', CAST(14.00 AS Decimal(18, 2)), 0, 1)
INSERT [dbo].[Towars] ([IdTowar], [Nazwa], [Opis], [Cena], [VipTowar], [TowarPromocyjny]) VALUES (3, N'Spodnie', N'schodzone', CAST(80.00 AS Decimal(18, 2)), 0, 0)
SET IDENTITY_INSERT [dbo].[Towars] OFF
SET IDENTITY_INSERT [dbo].[TowarStans] ON 

INSERT [dbo].[TowarStans] ([IdStanMagazynowy], [Stan], [DataDodania], [IdTowar]) VALUES (1, 23, CAST(N'2020-12-19T15:46:19.500' AS DateTime), 1)
INSERT [dbo].[TowarStans] ([IdStanMagazynowy], [Stan], [DataDodania], [IdTowar]) VALUES (2, 3, CAST(N'2020-12-19T15:46:19.500' AS DateTime), 2)
INSERT [dbo].[TowarStans] ([IdStanMagazynowy], [Stan], [DataDodania], [IdTowar]) VALUES (3, 5, CAST(N'2020-12-19T15:46:19.500' AS DateTime), 3)
SET IDENTITY_INSERT [dbo].[TowarStans] OFF
SET IDENTITY_INSERT [dbo].[TowarZdjecias] ON 

INSERT [dbo].[TowarZdjecias] ([IdTowarZdjecie], [Url], [IdTowar]) VALUES (1, N'/Content/Zdjecia/1.jpg', 1)
INSERT [dbo].[TowarZdjecias] ([IdTowarZdjecie], [Url], [IdTowar]) VALUES (2, N'/Content/Zdjecia/2.jpg', 2)
INSERT [dbo].[TowarZdjecias] ([IdTowarZdjecie], [Url], [IdTowar]) VALUES (3, N'/Content/Zdjecia/3.jpg', 3)
SET IDENTITY_INSERT [dbo].[TowarZdjecias] OFF
SET IDENTITY_INSERT [dbo].[ZamowieniePozycjas] ON 

INSERT [dbo].[ZamowieniePozycjas] ([IdZamowieniePozycja], [IdTowar], [Ilosc], [Cena], [Wartosc], [IdZamowienie]) VALUES (1, 2, 4, CAST(14.00 AS Decimal(18, 2)), CAST(56.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[ZamowieniePozycjas] ([IdZamowieniePozycja], [IdTowar], [Ilosc], [Cena], [Wartosc], [IdZamowienie]) VALUES (2, 1, 4, CAST(134.00 AS Decimal(18, 2)), CAST(536.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[ZamowieniePozycjas] ([IdZamowieniePozycja], [IdTowar], [Ilosc], [Cena], [Wartosc], [IdZamowienie]) VALUES (3, 2, 4, CAST(14.00 AS Decimal(18, 2)), CAST(56.00 AS Decimal(18, 2)), 2)
SET IDENTITY_INSERT [dbo].[ZamowieniePozycjas] OFF
SET IDENTITY_INSERT [dbo].[Zamowienies] ON 

INSERT [dbo].[Zamowienies] ([IdZamowienie], [Idhandlowiec], [Imie], [Nazwisko], [Adres], [Telefon], [AdresEmail], [DataZamowienia]) VALUES (1, 2, N'Marek', N'Wojtek', N'fsdfs', N'423423433', N'spiderking@interia.pl', CAST(N'2021-02-08T13:42:33.770' AS DateTime))
INSERT [dbo].[Zamowienies] ([IdZamowienie], [Idhandlowiec], [Imie], [Nazwisko], [Adres], [Telefon], [AdresEmail], [DataZamowienia]) VALUES (2, 2, N'Marek', N'Wojtek', N'4gdfgfdgd', N'454554545', N'spiderking@interia.pl', CAST(N'2021-02-08T13:48:46.913' AS DateTime))
INSERT [dbo].[Zamowienies] ([IdZamowienie], [Idhandlowiec], [Imie], [Nazwisko], [Adres], [Telefon], [AdresEmail], [DataZamowienia]) VALUES (3, 2, N'Marek', N'Wojtek', N'fgrdf', N'423423433', N'spiderking@interia.pl', CAST(N'2021-02-08T17:05:00.163' AS DateTime))
SET IDENTITY_INSERT [dbo].[Zamowienies] OFF
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 09.02.2021 15:56:19 ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 09.02.2021 15:56:19 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 09.02.2021 15:56:19 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_RoleId]    Script Date: 09.02.2021 15:56:19 ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 09.02.2021 15:56:19 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 09.02.2021 15:56:19 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_IdTowar]    Script Date: 09.02.2021 15:56:19 ******/
CREATE NONCLUSTERED INDEX [IX_IdTowar] ON [dbo].[TowarStans]
(
	[IdTowar] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_IdTowar]    Script Date: 09.02.2021 15:56:19 ******/
CREATE NONCLUSTERED INDEX [IX_IdTowar] ON [dbo].[TowarZdjecias]
(
	[IdTowar] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_IdTowar]    Script Date: 09.02.2021 15:56:19 ******/
CREATE NONCLUSTERED INDEX [IX_IdTowar] ON [dbo].[ZamowieniePozycjas]
(
	[IdTowar] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_IdZamowienie]    Script Date: 09.02.2021 15:56:19 ******/
CREATE NONCLUSTERED INDEX [IX_IdZamowienie] ON [dbo].[ZamowieniePozycjas]
(
	[IdZamowienie] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Handlowiecs] ADD  DEFAULT ((0)) FOR [HandlowiecVip]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[TowarStans]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TowarStans_dbo.Towars_IdTowar] FOREIGN KEY([IdTowar])
REFERENCES [dbo].[Towars] ([IdTowar])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TowarStans] CHECK CONSTRAINT [FK_dbo.TowarStans_dbo.Towars_IdTowar]
GO
ALTER TABLE [dbo].[TowarZdjecias]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TowarZdjecias_dbo.Towars_IdTowar] FOREIGN KEY([IdTowar])
REFERENCES [dbo].[Towars] ([IdTowar])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TowarZdjecias] CHECK CONSTRAINT [FK_dbo.TowarZdjecias_dbo.Towars_IdTowar]
GO
ALTER TABLE [dbo].[ZamowieniePozycjas]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ZamowieniePozycjas_dbo.Towars_IdTowar] FOREIGN KEY([IdTowar])
REFERENCES [dbo].[Towars] ([IdTowar])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ZamowieniePozycjas] CHECK CONSTRAINT [FK_dbo.ZamowieniePozycjas_dbo.Towars_IdTowar]
GO
ALTER TABLE [dbo].[ZamowieniePozycjas]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ZamowieniePozycjas_dbo.Zamowienies_IdZamowienie] FOREIGN KEY([IdZamowienie])
REFERENCES [dbo].[Zamowienies] ([IdZamowienie])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ZamowieniePozycjas] CHECK CONSTRAINT [FK_dbo.ZamowieniePozycjas_dbo.Zamowienies_IdZamowienie]
GO
USE [master]
GO
