
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PotwierdzenieZamowienia</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-offset-2 col-sm-8 obramowanieTowaru" style="margin-top: 20px; margin-bottom: 20px;">
                <h4>Potwierdzenie zamówienia</h4>
                <hr />
                <div style="text-align: center; margin-bottom: 50px;">
                    Dziękujemy! Twoje zamówienie zostało przyjęte do realizacji.
                </div>
            </div>
        </div>
    </div>
</body>
</html>
