@{
    ViewBag.Title = "Home Page";
}
<div>
    @Html.Action("_TowaryPromocyjne")
</div>
<div style="text-align:center">
    <h2>Witaj na mojej stronie</h2>
</div>

<div>
    @Html.Action("_Aktualnosci")
</div>
